footer {
  z-index: 5;
  background-color: var(--footer-bg-color);
  color: #ededed;
  position: relative;
  height: 50dvh;
  padding: 2rem;
}

.contact {
  font-size: 1.1rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.to-top {
  position: absolute;
  bottom: 2rem;
  text-decoration: underline;
  color: var(--secondary-text-color);
}

.email {
  color: rgb(255, 128, 31);
  font-weight: bold;
  text-underline-offset: 4px;
}

.email:active {
  background-color: rgb(189, 98, 28);
  color: white;
}