.main-container {
  position: sticky;
  top: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5em;
}

.img-container {
  width: 160px;
  aspect-ratio: 1;
}
.profile {
  width: 100%;
  border-radius: 4rem;
}
.title {
  font-family: "DM Sans";
  font-weight: 300;
  font-size: 28px;
  color: #cecece;
  margin-bottom: 1rem;
}

.socials {
  display: flex;
  max-width: 160px;
}

.icon {
  height: 32px;
}

.socials a:hover {
  filter: brightness(120%);
  scale: 1.04;
  transition: 100ms ease-in;
}
